@font-face {
  font-family: 'SevenSegment' ;
  src: url('../assets/fonts/SevenSegment.ttf');
}
.Video{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}